extends  ../layout
block content

    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 类名
                    tbody
                        each item in categories
                            tr(class="item-id-#{item._id}")
                                td #{item.name}