doctype
html
    head
        meta(charset='utf-8')
        title #{title}
        style body {padding-bottom: 70px}
        include includes/head

    body
        include includes/header
        block content
